PORT=5000
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=gemma2:2b
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/expenses?retryWrites=true&w=majority
SENTRY_DSN=
ELEVENLABS_API_KEY=sk_f5916546ff4a238928c47dedab2496aea2edeaf52185193c
ELEVENLABS_VOICE_ID=JBFqnCBsd6RMkjVDRZzb
